@model BreakAway.Models.Contact.AddViewModel

@{
    ViewBag.Title = "Add";
}

@Html.ActionLink("Back to customer list", "Index")

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p style="font-style:italic">@ViewBag.message</p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>Contact Information</legend>
        <div>
            @Html.LabelFor(p => p.FirstName, labelText: "First name:")
            @Html.TextBoxFor(p => p.FirstName)
        </div>
        <div>
            @Html.LabelFor(p => p.LastName, labelText: "Last name:")
            @Html.TextBoxFor(p => p.LastName)
        </div>
        
    </fieldset>
 
    <input type="submit" value="Save" />
}
