@model BreakAway.Models.Contact.EditViewModel

@{
    ViewBag.Title = "Edit";
}
@Html.ActionLink("Back to contact list", "Index")

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p style="font-style:italic">@ViewBag.message</p>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.Id);
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>Customer Information</legend>
        <div>
            @Html.LabelFor(p => p.FirstName, labelText: "First name:")
            @Html.TextBoxFor(p => p.FirstName)
        </div>
        <div>
            @Html.LabelFor(p => p.LastName, labelText: "Last name:")
            @Html.TextBoxFor(p => p.LastName)
        </div>
        <div>
            @Html.LabelFor(p => p.AddDate, labelText: "Add Date:")
            @Html.TextBoxFor(p => p.AddDate)
        </div>
        <div>
            @Html.LabelFor(p => p.ModifiedDate, labelText: "Modified Date:")
            @Html.TextBoxFor(p => p.ModifiedDate)
        </div>
    </fieldset>

    <input type="submit" value="Save" />
}