@model BreakAway.Models.Contact.EditViewModel

@{
    ViewBag.Title = "Edit";
}
@Html.ActionLink("Back to contact list", "Index")


@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p style="font-style:italic">@ViewBag.message</p>
}




@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.Id);
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>Contact Information</legend>
        <div>
            @Html.LabelFor(p => p.FirstName, labelText: "First name:")
            @Html.TextBoxFor(p => p.FirstName)
        </div>
        <div>
            @Html.LabelFor(p => p.LastName, labelText: "Last name:")
            @Html.TextBoxFor(p => p.LastName)
        </div>
        <div>
            @Html.LabelFor(p => p.AddDate, labelText: "Add Date:")
            @Html.TextBoxFor(p => p.AddDate)
        </div>
        <div>
            @for (var i = 0; i < Model.Addresses.Count; i++)
            {
                var address = Model.Addresses[i];

                <input type="hidden" name="Addresses[@i].Id" value="@address.Id" />
                <div>
                    <label for="Addresses[@i].Street1">Street 1 :</label>
                    <input type="text" name="Addresses[@i].Street1" value="@address.Street1" />
                </div>
                <div>
                    <label for="Addresses[@i].Street2">Street 2 :</label>
                    <input type="text" name="Addresses[@i].Street2" value="@address.Street2" />
                </div>
                <div>
                    <label for="Addresses[@i].City">City :</label>
                    <input type="text" name="Addresses[@i].City" value="@address.City" />
                </div>

                <div>
                    <label for="Addresses[@i].StateProvince">State Province :</label>
                    <input type="text" name="Addresses[@i].StateProvince" value="@address.StateProvince" />
                </div>
                <div>
                    <label for="Addresses[@i].PostalCode">Postal Code :</label>
                    <input type="text" name="Addresses[@i].PostalCode" value="@address.PostalCode" />
                </div>
                <div>
                    <label for="Addresses[@i].CountryRegion">Country Region :</label>
                    <input type="text" name="Addresses[@i].CountryRegion" value="@address.CountryRegion" />
                </div>
            }




        </div>

        <div>
            <input id="button" name="button" type="button" value="Add Address" onclick="addAddress()" />
            <div id="fields"></div>
        </div>


    </fieldset>


    <input type="submit" value="Save" />
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">

    function addAddress() {
                var $fields = $('#fields');
                $('<label for="dynamicStreet1 name="labeldynamicStreet1" />Street1 :</>').appendTo($fields);
                $('<input type="text" name="dynamicStreet1" /><br/>').appendTo($fields);
                $('<label for="dynamicStreet2 name="labeldynamicStreet2" />Street2 :</>').appendTo($fields);
                $('<input type="text" name="dynamicStreet2" /><br/>').appendTo($fields);
                $('<label for="dynamicCity name="labeldynamicCity" />City : :</>').appendTo($fields);
                $('<input type="text" name="dynamicCity" /><br/>').appendTo($fields);
                $('<label for="dynamicStateProvince name="labeldynamicStateProvince" />State Province :</>').appendTo($fields);
                $('<input type="text" name="dynamicStateProvince" /><br/>').appendTo($fields);
                $('<label for="dynamicPostalCode name="labeldynamicPostalCode" />Postal Code :</>').appendTo($fields);
                $('<input type="text" name="dynamicPostalCode" /><br/>').appendTo($fields);
                $('<label for="DynamicCountryRegion name="labelDynamicCountryRegion" />Country Region :</>').appendTo($fields);
                $('<input type="text" name="DynamicCountryRegion" /><br/>').appendTo($fields);
                console.log("Hello");
            }
    

 </script>

