@model BreakAway.Models.Contact.EditViewModel

@{
    ViewBag.Title = "Edit";
}
@Html.ActionLink("Back to contact list", "Index")

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p style="font-style:italic">@ViewBag.message</p>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.Id);
    @Html.AntiForgeryToken();
    <fieldset>
        <legend>Customer Information</legend>
        <div>
            @Html.LabelFor(p => p.FirstName, labelText: "First name:")
            @Html.TextBoxFor(p => p.FirstName)
        </div>
        <div>
            @Html.LabelFor(p => p.LastName, labelText: "Last name:")
            @Html.TextBoxFor(p => p.LastName)
        </div>
        <div>
            @Html.LabelFor(p => p.AddDate, labelText: "Add Date:")
            @Html.TextBoxFor(p => p.AddDate)
        </div>
        <div>
            @foreach (var address in Model.Addresses)
            {
            <div>
                <label for="street1">Street 1 :</label>
                <input type="text" name="street1" value="@address.Street1" />
            </div>
            <div>
                <label for="street2">Street 2 :</label>
                <input type="text" name="street2" value="@address.Street2" />
            </div>
            <div>
                <label for="city">City :</label>
                <input type="text" name="city" value="@address.City" />
            </div>

            <div>
                <label for="stateProvince">State Province :</label>
                <input type="text" name="stateProvince" value="@address.StateProvince" />
            </div>
            <div>
                <label for="postalCode">Postal Code :</label>
                <input type="text" name="postalCode" value="@address.PostalCode" />
            </div>
            <div>
                <label for="countryRegion">Country Region :</label>
                <input type="text" name="countryRegion" value="@address.CountryRegion" />
            </div>



            }
        </div>
    </fieldset>

    <input type="submit" value="Save" />
}