@model BreakAway.Models.Contact.IndexViewModel

@{
    ViewBag.Title = "Contacts";
}

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p>@ViewBag.message</p>
}


@using (Html.BeginForm("Index", "Contact", FormMethod.Get))
{
    <input type="text" name="firstName" value="@Model.FirstName" />
    <input type="text" name="lastName" value="@Model.LastName" />
    <input type="text" name="addDate" value="@Model.AddDate" />
    <input type="text" name="modifiedDate" value="@Model.ModifiedDate" />
    <input type="submit" name="submit" />
}

@Html.ActionLink("Add a new Contact", "Add", "Contact")


<table>
    <tr>
        <th>Edit</th>
        <th>First Name</th>
        <th>Last name</th>
        <th>Add Date</th>
        <th>Modified Date</th>
    </tr>

    @foreach (var contact in Model.Contacts)
    {
        <tr>
            <td>@Html.ActionLink("Details", "Edit", new { id = contact.Id })</td>
            <td>@contact.FirstName</td>
            <td>@contact.LastName</td>
            <td>@contact.AddDate</td>
            <td>@contact.ModifiedDate</td>
        </tr>
    }
</table>
