@model BreakAway.Models.Contact.IndexViewModel
@{
    ViewBag.Title = "Contacts";
}

@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <p>@ViewBag.message</p>
}


@using (Html.BeginForm("Index", "Contact", FormMethod.Get))
{
    @Html.TextBoxFor(m => m.Filter.FirstName)
    @Html.TextBoxFor(m => m.Filter.LastName)
    @Html.TextBoxFor(m => m.Filter.AddDate)
    @Html.TextBoxFor(m => m.Filter.ModifiedDate)
    <input type="submit" name="submit" />
}

@Html.ActionLink("Add a new Contact", "Add", "Contact")


<table>
    <tr>
        <th>Edit</th>
        <th>First Name</th>
        <th>Last name</th>
        <th>Add Date</th>
        <th>Modified Date</th>
    </tr>

    @foreach (var contact in Model.Contacts)
    {
        <tr>
            <td>@Html.ActionLink("Details", "Edit", new { id = contact.Id })</td>
            <td>@contact.FirstName</td>
            <td>@contact.LastName</td>
            <td>@contact.AddDate</td>
            <td>@contact.ModifiedDate</td>
        </tr>
    }
</table>
